POSTGRES_DB=logitrack
POSTGRES_USER=logitrack
POSTGRES_PASSWORD=logitrack
POSTGRES_PORT=55432

BACKEND_PORT=18080
FRONTEND_PORT=80

LOGITRACK_JWT_SECRET=LogiTrackDockerJwtSecretKeyWithAtLeastThirtyTwoCharacters2026
LOGITRACK_ALLOWED_ORIGINS=http://localhost,http://localhost:5173
